@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    height: 100%;
}

.font-roboto {
    font-family: 'Roboto', sans-serif;
  }
  
  /* Assuming calsans is a directory containing your font files */
@font-face {
    font-family: 'Calsans';
    src: url('/fonts/calsans/calsans-regular.woff2') format('woff2'),
         url('/fonts/calsans/calsans-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  